h2 {
  text-align: center;
  margin: 10px 0 40px 0;
}
.back
{
  background-image: linear-gradient(to bottom right, #d5ecf1, #e7e9f5,#3491b2);
}
.container {
  border: 2px solid rgb(149 146 146);
  margin-top: 50px;
  padding: 30px 80px;
  border-radius: 20px;
}

.row {
  height: 16vh;
}
.row__content {
  margin-bottom: 30px;
  width: 20%;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.spinner {
  text-align: center;
}

.btn {
  padding: 12.5px 35px;
  border-radius: 100px;
}

.btn[disabled] {
  cursor: not-allowed;
}
